
      div#appwrapper {
        display: none;
      }
      div#loading {
        top: 200 px;
        margin: auto;
        position: inherit;
        z-index: 1000;
        width: 200px;
        height: 200px;
        background: url('../resources/images/loading.gif') no-repeat;
        cursor: wait;
      }
    